#table-staff-name{
    padding-top: 20px;
    padding-bottom: 20px;
}

#rosterTitle{
    padding-top: 20px
}

#alertMessage{
    margin: 20px;
}

#header, #footer{
        border:2px 2px 4px #377b3b;
}
#week-title{
    font-family: Avenir;
    font-size: 28px;
    color: #377b3b;
}

#week-title-span{
    font-family: Avenir;
    font-size: 22px;
    color: #63a242;
}
#table-header{
    background-color: #377b3b;
    text-shadow:4px 4px 10px #000000;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50%;
}

#modalHours{
    background-color: #377b3b;
}




body{
    background-image: url("../large-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background: rgb(55,123,59);
    background: linear-gradient(0deg, rgba(55,123,59,1) 0%, rgba(249,249,249,1) 100%);
    font-family: Avenir;
    font-style: oblique;
}