<%- include('templates/header') %>

<div id="table-content">
    <div class="container text-center d-grid gap-3 mx-auto">
        <h1 class="text-center">Weekly Roster</h1>
        <a href="/login"><button type="button" class="btn btn-outline-dark">Kitchen Staff</button></a>
        <a href="/login-floor"><button type="button" class="btn btn-outline-dark">Floor Staff</button></a>
    </div>
</div>

<%- include('templates/footer') %>