<%- include('templates/header-admin') %>
    <div class="container">
        <h1 class="text-center">Staff Registration</h1>
        <form enctype="application/json" action="/new-staff" method="POST">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input name="firstName" type="text" class="form-control" id="firstName" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input name="lastName"  type="text" class="form-control" id="lastName">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="email">
              </div>
              <h3>Positions</h3>
              <div class="form-check">
                <input name="grill" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Grill
                </label>
              </div>
              <div class="form-check">
                <input name="salad" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Salad Bar
                </label>
              </div>
              <div class="form-check">
                <input name="sides" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Sides
                </label>
              </div>
              <div class="form-check">
                <input name="dish" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Dishes
                </label>
              </div>    
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
<%- include('templates/footer') %>